*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  height: 100vh;
}

.container{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container{
  max-width: 420px;
  width: 100%;
}

.background{
  width: 50%;
  background-image: url(../img/chris-lee-70l1tDAI6rM-unsplash.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 45px 0px 0px 45px;
}

.form-container h3{
  font-size: 32px;
}

.form-container h4{
  font-weight: 600;
}

.form-container h4#firsth4{
  margin-bottom: 40px;
}

label {
  font-weight: 600;
}

input{
  display: block;
}

.form-container input[type="email"],
.form-container input[type="password"] {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #D9D9D9;
  margin-bottom: 20px;
}

.forgot-label{
  display: flex;
  justify-content: space-between;
}

.forgot-label span a{
  font-size: 12px;
  text-decoration: none;
  font-weight: bold;
  margin-bottom: 10px;
  position: relative;
  bottom: 4px;
  color: #0C2A92;
}

.checkbox-container{
  display: flex;
  margin-bottom: 20px;
}

.checkbox-container label{
  font-size: 12px;
  font-weight: 500;
  margin-left: 5px;
}

.btn-login{
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  background-color: #3A5B22;
  color: white;
  border:none;
  font-weight: 550;
  font-size: 15px;
}

.signin{
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  margin-bottom: 25px;
}

.signin button img{
  width: 20px;
  margin: 0 2px 0 0;
}

.signin button{
  padding: 8px 15px;
  border-radius: 10px;
  border: 1px solid #D9D9D9;
  background-color: transparent;
  font-weight: 550;
  display: flex;
  align-items: center;
}

.txt_signup{
  text-align: center;
  font-weight: 550;
}

.txt_signup a {
  text-decoration: none;
}

.container-hr{
  position: relative;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.container-hr span{
  position: absolute;
  top: -13px;
  background-color: white;
  font-weight: 500;
  transform: translateX(-50%);
  padding: 0 3px;
}